<!DOCTYPE html>
<html lang="en">

<head>
    <title>Games Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">

</head>

<body>
<div class="content">
    <table class="table">
        <thead class="thead-dark">
            <tr id="header">

            </tr>
        </thead>
        <tbody id="rows">
        </tbody>
    </table>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.get("http://localhost:45789/games").then(response => {
        var games = response.data
        var header = document.getElementById("header")
        var rows = document.getElementById("rows")

        var keys = Object.keys(games[0]);
        keys.forEach(key => {
            var col = document.createElement("th")
            col.innerHTML = key
            header.appendChild(col)
        })
        games.forEach(game => {
            var row = document.createElement("tr")
            var values = Object.keys(game)

            values.forEach(value => {
                var cell = document.createElement("td")
                cell.innerHTML = game[value]
                row.appendChild(cell)
            })
            rows.appendChild(row)
        })

    }).catch(error => {
        console.log(error)
    })
</script>

</html>