<%- include("./partials/header.ejs") %>

<body>

    <%- include("./partials/navbar.ejs") %>

    <div class="content">
        <table class="table">
            <thead class="thead-dark">
                <tr id="header">

                </tr>
            </thead>
            <tbody id="rows">
            </tbody>
        </table>
    </div>

    <input type="hidden" id="restAPI" value="<%= restAPI %>">

</body>

<%- include("./partials/footer.ejs") %>

<script>
    const restAPI = document.getElementById("restAPI").value

    axios.get(`${restAPI}/games`, axiosConfig).then(response => {
        var games = response.data
        var header = document.getElementById("header")
        var rows = document.getElementById("rows")

        var keys = Object.keys(games[0]);
        keys.forEach(key => {
            var col = document.createElement("th")
            col.innerHTML = key
            header.appendChild(col)
        })
        var col = document.createElement("th")
        col.innerHTML = "Actions"
        header.appendChild(col)

        games.forEach(game => {
            var row = document.createElement("tr")
            var values = Object.keys(game)
            var id = game[values[0]]

            values.forEach(value => {
                var cell = document.createElement("td")
                cell.innerHTML = game[value]
                row.appendChild(cell)
            })

            var cell = document.createElement("td")
            var edit = document.createElement("a")
            var del = document.createElement("a")
            edit.href = `/update/${id}`
            del.href = `javascript:confirmDeletion(${id})`
            edit.innerHTML = "Update"
            del.innerHTML = "Delete"
            edit.classList.add("btn")
            edit.classList.add("btn-warning")
            del.classList.add("btn")
            del.classList.add("btn-danger")
            cell.appendChild(edit)
            cell.innerHTML += " "
            cell.appendChild(del)
            row.appendChild(cell)

            rows.appendChild(row)
        })

    }).catch(error => {
        alert(error)
        location.href+="login"
    })

    function confirmDeletion(id) {
        var decision = confirm("Do you really want to delete this game?")
        if (decision) {
            axios.delete(`${restAPI}/game/${id}`, axiosConfig).then(response => {
                alert(response.status)
                location.reload()
            }).catch(err => {
                console.log(err)
            })
        } else {
            alert("Aborted")
        }
    }
</script>

</html>