<!-- Inclui head -->
<%- include("./partials/header.ejs") %>

<body>

    <div class="container">

        <div class="card">

            <div class="card-header">
                <h2>Cadastro de usuário</h2>
            </div>

            <div class="card-body">

                <form>
                    <label for="title">Username</label>
                    <input type='text' class="form-control" id="username" name="username"
                        placeholder="Defina um nome de usuário" required>
                    <br>
                    <label for="title">Senha</label>
                    <input type='password' class="form-control" id="password" name="password"
                        placeholder="Digite sua senha" required>
                    <br>
                    <label for="title">E-mail</label>
                    <input type='text' class="form-control" id="email" name="email" placeholder="Informe seu e-mail"
                        required>
                    <br>
                    <button type="button" class="btn btn-success btn-block" onclick="Signup()">Cadastrar</button>
                </form>
                <div style="text-align: center;">
                    <br>
                    <a class="dropdown-item" href="/login">Já possui cadastro? Faça seu login</a>
                </div>
            </div>

        </div>

    </div>

    <input type="hidden" id="restAPI" value="<%= restAPI %>">

</body>

<!-- Inclui footer -->
<%- include("./partials/footer.ejs") %>

<script>
    const restAPI = document.getElementById("restAPI").value

    function Signup() {
        var email = document.getElementById("email").value
        var password = document.getElementById("password").value
        var username = document.getElementById("username").value

        var user = {
            email: email,
            username: username,
            password: password
        }

        axios.post(`${restAPI}/signup`, user).then(response => {
            alert(response.status)
            location.href = location.href.replace("signup", "login")
        }).catch(err => {
            alert(err)
        })
    }
</script>